<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
		<property name="connection.username">scott</property>
		<property name="connection.password">tiger</property>

		<!-- hibernate properties -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<!-- Dialect -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- Maping file -->
		<mapping resource="com/vcp/cfgs/user.hbm.xml" />
		<mapping resource="com/vcp/cfgs/phoneNumber.hbm.xml" />
	</session-factory>
</hibernate-configuration>
    